@using WebApplication6.Data.Entities
@model List<Food>

@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        @foreach (Food item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(i=>item.Name)</td>
                <td>@Html.DisplayFor(i=>item.ExpiationDate)</td>
                <td>@Html.DisplayFor(i=>item.Price)</td>
                <td>@Html.DisplayFor(i=>item.Quantity)</td>
                <td>
                    <a asp-action="Edit" asp-route-id=@item.ID>Edit</a> 
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id=@item.ID>Delete</a>
                </td>
            </tr>
                           
        }
    </thead>
</table>
