@model List<Food> 

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<table class="table">
    <thead>
        @foreach (Food item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(i=>item.Name)</td>
                <td>@Html.DisplayFor(i=>item.ExpiationDate)</td>
                <td>@Html.DisplayFor(i=>item.Price)</td>
                <td>@Html.DisplayFor(i=>item.Quantity)</td>
            </tr>
                           
        }
    </thead>
</table>
